---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ContactForm from '../components/Contact.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout 
  title="Contact Us - PNW Digital Solutions" 
  description="Get in touch with PNW Digital Solutions for any inquiries or support. We're here to help!"
  >
  <Header />
  <main>
    <HeroSection 
      title="Contact Us" 
      description="We're here to help with any questions you might have about our services."
    />
    <ContactForm />
  </main>
</Layout> 
