---
import Layout from '../layouts/Layout.astro';
import PricingCmp from '../components/Pricing.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Pricing">
  <main>
    <HeroSection 
      title="Simple, Transparent Pricing" 
      highlightText="Pricing"
      description="Choose the plan that works best for your business. "
    />
    <PricingCmp />
  </main>
</Layout>
