---
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";
import Scripts from "../components/Scripts.astro";
import Newsletter from "../components/Newsletter.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/transitions.css";
---

<!doctype html>
<html
  lang="en"
  x-data="{ darkMode: localStorage.getItem('darkMode') === 'true' }"
  x-init="$watch('darkMode', val => localStorage.setItem('darkMode', val))"
  :class="{ 'dark': darkMode }"
>
  <Head
    title="PNW Digital Solutions - Open Source Development & Consulting"
    description="Empowering businesses through open source software solutions. Expert web development, consulting, and community-driven innovation for modern enterprises."
    author="Z Sullivan"
    keywords="open source, web development, JavaScript, TypeScript, React, Vue, Astro, consulting, software development, community"
  />
  <body>
    <div id="page-wrapper" class="page-transition-wrapper">
    <Nav />
      <slot />
    </div>
    <Scripts />
    <Newsletter />
    <Footer />
  </body>
</html>
